body {
  font-family:'Audiowide', cursive;
  background-color:green; 
  background-image: url('myBackground.jpg');
}

.centeritems {
display: block;
margin-left: auto;
margin-right:auto;
width: 100%;
}

