body {
  font-family:'Audiowide', cursive;
  background-color:green; 
  width:100%
  text-align:center;
}

h1 {
  font-style: italic;
  text-decoration: underline;
}

#nav-table { 
  width: 80%;
  text-align:center;
  
 #nav-th {
   width: 20%; 
   text-align:center;

#banner {
display: block;
margin-left: auto;
margin-right:auto;
width: 100%;
height:15%;
text-align:center;
}


